@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family= +Text:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
  --color-ll-teal: #495E57;
  --color-ll-yel: #F4CE14;

  --font-karla: "karla-200", sans-serif;
  --font-mark: "markazi-text-400";
}

.top-nav {
  text-transform: uppercase;
  font-weight: 400;
}

.animate-card {
  transition: transform 0.2s ease-in-out;
}
.animate-card:hover {
  transform: scale(1.02)
}

